/Sports/Sports.Web/.vs/Sports.Web/v15/Server/sqlite3/storage.ide
/Sports/Sports.Web/.vs/Sports.Web/v15/Server/sqlite3/db.lock
/Sports/.vs/Sports/v15/Server/sqlite3/*.lock
/Sports/.vs/Sports/v15/Server/sqlite3/*.ide
/Sports/.vs/Sports/v15/Server/sqlite3/*.ide-shm
/Sports/.vs/Sports/v15/Server/sqlite3/*.ide-wal
/Sports/Sports.Web/.vs/Sports.Web/v15/Server/sqlite3
/Sports/Sports.Web/.vs/Sports.Web/v15/Server/sqlite3/*.lock
